$green: rgb(47, 214, 175);
$pink: rgba(255, 54, 117, 1);
$yellow: rgba(255, 206, 0, 1);
$orange: rgba(254, 93, 37, 1);
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$blue: #389aea;
$border: 0.2em solid white;
$transition: background-color 0.5s ease;
$hover: inset 0.25em 0.25em white;

@mixin defaults($background, $position, $top, $left, $width, $height) {
	background: $background;
	position: $position;
	top: $top;
	left: $left;
	width: $width;
	height: $height;
}

// @mixin clouds($width, $height, $left, $top) {
// 	background: $blue;
// 	width: $width;
// 	height: $height;
// 	position: absolute;
// 	left: $left;
// 	top: $top;
// }

@mixin hover() {
	&:hover {
		transform: scale(1.02);
	}
}

// body {
// 	margin: 0;
// 	background: $blue;
// 	transition: $transition;
// }

#rainbow-container {
	// width: 100vw;
	height: 5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow: hidden;
	
	ul{
		list-style-type: none;
	}
	#outer {
		@include defaults(transparent, relative, 35%, 0%, 7rem, 7rem);
	}

	#yellow {
		@include defaults($yellow, absolute, 20%, 18%, 60%, 60%);
		z-index: 2;
		border-radius: 50%;
		border: $border;
		@include hover;
	}

#pink {
	@include defaults($pink, absolute, 10%, 8%, 80%, 80%);
	z-index: 1;
	border-radius: 50%;
	border: $border;
	@include hover;
}

#green {
	@include defaults($green, absolute, 30%, 28%, 40%, 40%);
	border-radius: 50%;
	border: $border;
	z-index: 3;
	@include hover;
}

#inner {
	@include defaults($white, absolute, 40%, 38%, 20%, 20%);
	border-radius: 50%;
	border: $border;
	z-index: 3;
	transition: $transition;
}

// #cover {
// 	@include defaults($blue, absolute, 50%, 0%, 100%, 50%);
// 	z-index: 10;
// 	transition: $transition;
// }



// li:nth-child(1) {
// 	// $width, $height, $left, $top
// 	@include clouds(40%, 30%, 4%, 3%);
// 	border-radius: 40% / 100%;
// }

// li:nth-child(2) {
// 	@include clouds(15%, 25%, 6%, -6%);
// 	border-radius: 50%;
// }

// li:nth-child(3) {
// 	@include clouds(22%, 40%, 19%, -16%);
// 	border-radius: 50%;
// }

// li:nth-child(4) {
// 	@include clouds(40%, 30%, 57%, 3%);
// 	border-radius: 40% / 100%;
// }

// li:nth-child(5) {
// 	@include clouds(15%, 25%, 80%, -6%);
// 	border-radius: 50%;
// }

// li:nth-child(6) {
// 	@include clouds(22%, 40%, 59%, -16%);
// 	border-radius: 50%;
// }

.run-animation {
	animation: jello-horizontal 0.8s 1 both;
}
}

@-webkit-keyframes jello-horizontal {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}
	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}
	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1);
	}
	65% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		transform: scale3d(0.95, 1.05, 1);
	}
	75% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		transform: scale3d(1.05, 0.95, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes jello-horizontal {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}
	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}
	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1);
	}
	65% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		transform: scale3d(0.95, 1.05, 1);
	}
	75% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		transform: scale3d(1.05, 0.95, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
