@import url("https://fonts.googleapis.com/css?family=Raleway:500|Roboto+Mono:300&display=swap");
#rainbow-container {
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
}

#rainbow-container ul {
  list-style-type: none;
}

#rainbow-container #outer {
  background: transparent;
  position: relative;
  top: 35%;
  left: 0%;
  width: 9rem;
  height: 9rem;
}

#rainbow-container #yellow {
  background: #ffce00;
  position: absolute;
  top: 20%;
  left: 18%;
  width: 60%;
  height: 60%;
  z-index: 2;
  border-radius: 50%;
  border: 0.2em solid white;
}

#rainbow-container #yellow:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

#rainbow-container #pink {
  background: #ff3675;
  position: absolute;
  top: 10%;
  left: 8%;
  width: 80%;
  height: 80%;
  z-index: 1;
  border-radius: 50%;
  border: 0.2em solid white;
}

#rainbow-container #pink:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

#rainbow-container #green {
  background: #2fd6af;
  position: absolute;
  top: 30%;
  left: 28%;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  border: 0.2em solid white;
  z-index: 3;
}

#rainbow-container #green:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

#rainbow-container #inner {
  background: white;
  position: absolute;
  top: 40%;
  left: 38%;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  border: 0.2em solid white;
  z-index: 3;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

#rainbow-container .run-animation {
  -webkit-animation: jello-horizontal 0.8s 1 both;
          animation: jello-horizontal 0.8s 1 both;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.title {
  -webkit-animation: slide-in-left 1s 1 both;
          animation: slide-in-left 1s 1 both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Raleway", sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65vw;
}

@media only screen and (max-width: 600px) {
  nav {
    margin-top: 20px;
  }
  nav #navList {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav #navList #left {
    display: none;
  }
  .container {
    width: 90vw;
  }
}

@media only screen and (min-width: 601px) {
  nav #navList {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav #navList #left {
    display: block;
  }
  .container {
    width: 75vw;
  }
}

@media only screen and (min-width: 1201px) {
  nav #navList {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav #navList #left {
    display: block;
  }
  .container {
    width: 65vw;
  }
}

header, footer {
  font-family: "Roboto Mono", monospace;
  width: 80vw;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

header nav, footer nav {
  width: 100%;
}

header nav #left, footer nav #left {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

header nav ul, footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

header nav ul li, footer nav ul li {
  list-style: none;
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  header nav ul li, footer nav ul li {
    margin: 5px;
  }
}

header nav ul a, footer nav ul a {
  text-decoration: none;
  color: black;
}

header nav ul a:hover, footer nav ul a:hover {
  background: #2fd6af;
}

footer {
  height: 200px;
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #footerList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 10em;
  font-weight: bolder;
  color: #2fd6af;
}

#project-title {
  font-size: 4em;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
  font-size: 2em;
  margin: 0.5rem;
}

#bio {
  margin: 0.5rem;
  font-size: 1.2em;
}

#bio a {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(35%, #2fd6af), color-stop(35%, transparent));
  background-image: linear-gradient(to top, #2fd6af 35%, transparent 35%);
}

#bio a:visited {
  text-decoration: none;
  color: black;
}

#bio a:hover {
  background: #2fd6af;
}

span {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(35%, #2fd6af), color-stop(35%, transparent));
  background-image: linear-gradient(to top, #2fd6af 35%, transparent 35%);
}

span:visited {
  text-decoration: none;
  color: black;
}

span:hover {
  background: #2fd6af;
}

.description {
  color: black;
  margin: 2em 0em;
  font-size: 1.2em;
}

.projects {
  color: white;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.projects img, .projects video {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects a {
  text-decoration: none;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25ch;
          flex: 1 1 25ch;
}

.projects div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20em;
  overflow: hidden;
  margin: 0.5rem;
  background: #ffce00;
}

.projects div .categories,
.projects div .resource {
  position: relative;
  left: 2rem;
  padding-top: 1rem;
}

.projects div .categories li,
.projects div .resource li {
  display: inline-block;
}

.projects div .categories li::after,
.projects div .resource li::after {
  content: " | ";
}

.projects div h3 {
  font-family: "Roboto Mono", monospace;
  font-size: 2em;
  padding-left: 2rem;
  padding-top: 1rem;
  margin-right: 3em;
}

.projects #pikachu {
  background: #2fd6af;
}

.projects #pikachu:hover {
  background-image: url(./img/pikachu.png);
  background-size: cover;
  color: transparent;
}

.projects #devduckswap {
  background: #ff3675;
}

.projects #devduckswap:hover {
  background-image: url(./img/dds1.png);
  background-size: cover;
  color: transparent;
}

.projects #linkart {
  background: #ffce00;
}

.projects #linkart:hover {
  background-image: url(./img/link.png);
  background-size: cover;
  color: transparent;
}

.projects #debugduck {
  background: #ff3675;
}

.projects #debugduck:hover {
  background-image: url(./img/debugduck.png);
  background-size: cover;
  color: transparent;
}

.projects #pixelarticle {
  background: #2fd6af;
}

.projects #pixelarticle:hover {
  background-image: url(./img/pixelart.jpeg);
  background-size: cover;
  color: transparent;
}

@media only screen and (max-width: 600px) {
  #project-title {
    font-size: 3em;
  }
}

@media only screen and (min-width: 600px) {
  .description {
    width: 60vw;
  }
}

@media only screen and (min-width: 1200px) {
  .description {
    width: 50vw;
  }
}

iframe {
  width: 100%;
  height: 30vh;
}

@media only screen and (min-width: 1200px) {
  iframe {
    width: 50%;
  }
}
/*# sourceMappingURL=styles.css.map */