@import url("https://fonts.googleapis.com/css?family=Raleway:500|Roboto+Mono:300&display=swap");
@import "rainbow";
@import "nav";

$heading-font: "Raleway", sans-serif;
$sub-heading-font: "Roboto Mono", monospace;

$green: rgb(47, 214, 175);
$pink: rgba(255, 54, 117, 1);
$yellow: rgba(255, 206, 0, 1);
$orange: rgba(254, 93, 37, 1);
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);

@mixin flex($direction, $justify) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify;
  flex-direction: $direction;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include flex(row, center);
  font-family: $heading-font;
}

.container {
  @include flex(column, center);
  width: 65vw;
}

@media only screen and (max-width: 600px) {
  nav {
    margin-top: 20px;
    #navList {
      align-items: flex-end;
      align-content: flex-end;
      flex-direction: column;
      #left {
        display: none;
      }
    }
  }

  .container {
    width: 90vw;
  }
}

@media only screen and (min-width: 601px) {
  nav {
    #navList {
      flex-direction: row;
      #left {
        display: block;
      }
    }
  }
  .container {
    width: 75vw;
  }
}

@media only screen and (min-width: 1201px) {
  nav {
    #navList {
      flex-direction: row;
      #left {
        display: block;
      }
    }
  }
  .container {
    width: 65vw;
  }
}

header,
footer {
  font-family: $sub-heading-font;
  width: 80vw;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;

  nav {
    width: 100%;

    #left {
      flex: 10;
    }

    ul {
      @include flex(row, flex-end);
      align-items: flex-end;
      align-content: flex-end;

      li {
        list-style: none;
        margin: 10px;

        @media only screen and (max-width: 600px) {
          margin: 5px;
        }
      }

      a {
        text-decoration: none;
        color: $black;

        &:hover {
          background: $green;
        }
      }
    }
  }
}

h1 {
  font-family: $heading-font;
  font-size: 10em;
  font-weight: bolder;
  color: $green;
}

#project-title {
  font-size: 4em;
}

h2 {
  font-family: $sub-heading-font;
  font-weight: bolder;
  font-size: 2em;
  margin: 0.5rem;
}

#bio {
  margin: 0.5rem;
  font-size: 1.2em;
  a {
    text-decoration: none;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(35%, $green),
      color-stop(35%, transparent)
    );
    background-image: linear-gradient(to top, $green 35%, transparent 35%);
    &:visited {
      text-decoration: none;
      color: $black;
    }
    &:hover {
      background: $green;
    }
  }
}

span {
    background-image: linear-gradient(to top, $green 35%, transparent 35%);
    &:visited {
      text-decoration: none;
      color: $black;
    }
    &:hover {
      background: $green;
    }
}

.description {
  color: $black;
  margin: 2em 0em;
  font-size: 1.2em;
}

@mixin bgcolour($colour, $url) {
  background: $colour;
  &:hover {
    background-image: url(#{$url});
    background-size: cover;
    color: transparent;
  }
}

.projects {
  color: $white;
  margin-top: 5%;
  @include flex(row, flex-start);

  a {
      text-decoration: none;
      color: $white;
      flex: 1 1 25ch;
  }

  div {
    
    @include flex(column, center);
    height: 20em;
    overflow: hidden;
    margin: 0.5rem;
    background: $yellow;

    .categories,
    .resource {
      position: relative;
      left: 2rem;
      padding-top: 1rem;
      li {
        display: inline-block;
        &::after {
          content: " | ";
        }
      }
    }

    h3 {
      font-family: $sub-heading-font;
      font-size: 2em;
      padding-left: 2rem;
      padding-top: 1rem;
      margin-right: 3em;
    }
  }

  #pikachu {
    @include bgcolour($green, "./img/pikachu.png");
  }
  #devduckswap {
    @include bgcolour($pink, "./img/dds1.png");
  }
  #linkart {
    @include bgcolour($yellow, "./img/link.png");
  }
  #debugduck {
    @include bgcolour($pink, "./img/debugduck.png");
  }
  #pixelarticle {
    @include bgcolour($green, "./img/pixelart.jpeg");
  }
}

@media only screen and (max-width: 600px) {
  img {
    width: 90vw;
    height: auto;
  }
  #project-title {
    font-size: 3em;
  }
}

@media only screen and (min-width: 600px) {
  img {
    width: 100%;
    height: auto;
  }
  .description {
    width: 60vw;
  }
}

@media only screen and (min-width: 1200px) {
  img {
    width: 50%;
    height: auto;
    // order: 1;
  }
  .description {
    width: 50vw;
    // order: 2;
  }
}

iframe{
    width: 100%;
    @media only screen and (min-width: 1200px) {
        width: 50%;
    }
}