@import url("https://fonts.googleapis.com/css?family=Raleway:500|Roboto+Mono:300&display=swap");
#rainbow-container {
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
}

#rainbow-container ul {
  list-style-type: none;
}

#rainbow-container #outer {
  background: transparent;
  position: relative;
  top: 35%;
  left: 0%;
  width: 9rem;
  height: 9rem;
}

#rainbow-container #yellow {
  background: #ffce00;
  position: absolute;
  top: 20%;
  left: 18%;
  width: 60%;
  height: 60%;
  z-index: 2;
  border-radius: 50%;
  border: 0.2em solid white;
}

#rainbow-container #yellow:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

#rainbow-container #pink {
  background: #ff3675;
  position: absolute;
  top: 10%;
  left: 8%;
  width: 80%;
  height: 80%;
  z-index: 1;
  border-radius: 50%;
  border: 0.2em solid white;
}

#rainbow-container #pink:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

#rainbow-container #green {
  background: #2fd6af;
  position: absolute;
  top: 30%;
  left: 28%;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  border: 0.2em solid white;
  z-index: 3;
}

#rainbow-container #green:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

#rainbow-container #inner {
  background: white;
  position: absolute;
  top: 40%;
  left: 38%;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  border: 0.2em solid white;
  z-index: 3;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

#rainbow-container .run-animation {
  -webkit-animation: jello-horizontal 0.8s 1 both;
          animation: jello-horizontal 0.8s 1 both;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.title {
  -webkit-animation: slide-in-left 1s 1 both;
          animation: slide-in-left 1s 1 both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.pikachu-container {
  width: 100%;
  height: 65vh;
  background: #d5fded;
}

.pikachu-container .box {
  width: 460px;
  height: 350px;
  position: absolute;
  background: transparent;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 65%;
}

.pikachu-container .head {
  position: absolute;
  background: #ffc720;
  width: 50%;
  height: 67%;
  top: 16.5%;
  left: 25%;
  background: transparent;
  border-radius: 50%;
}

.pikachu-container .head .head-top {
  position: absolute;
  background: #ffc720;
  width: 90%;
  height: 100%;
  left: 5%;
  border-radius: 43%;
  z-index: 2;
}

.pikachu-container .head .eyelids {
  position: absolute;
  background: #ffc720;
  width: 70%;
  height: 30%;
  top: 30%;
  left: 15%;
  visibility: hidden;
  z-index: 10;
  pointer-events: none;
}

.pikachu-container .left-lid, .pikachu-container .right-lid {
  position: absolute;
  background: #ffc720;
  width: 30%;
  height: 10%;
  background: black;
  border-radius: 30% 30% 50% 50%;
  bottom: 25%;
}

.pikachu-container .left-lid {
  left: 4%;
}

.pikachu-container .right-lid {
  right: 4%;
}

.pikachu-container .head-top:hover ~ .eyelids,
.pikachu-container head-top:active {
  visibility: visible;
  -webkit-transition: visibility 2s ease;
  transition: visibility 2s ease;
}

.pikachu-container .head-top:hover ~ .mouth-cover,
.pikachu-container head-top:active {
  visibility: visible;
}

.pikachu-container .head-bottom {
  position: absolute;
  background: #ffc720;
  width: 100%;
  height: 70%;
  top: 40%;
  border-radius: 50%;
  z-index: 2;
}

.pikachu-container .ear-left, .pikachu-container .ear-right {
  position: absolute;
  background: #ffc720;
  width: 30%;
  height: 70%;
  border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
  bottom: 70%;
  z-index: 1;
}

.pikachu-container .ear-left {
  left: -20%;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.pikachu-container .ear-right {
  right: -20%;
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
}

.pikachu-container .inner-ear {
  position: absolute;
  background: #ffc720;
  width: 100%;
  height: 100%;
  top: 0%;
  -webkit-clip-path: polygon(0 0, 80% 0%, 0% 60%);
  clip-path: polygon(0 0, 80% 0%, 0% 60%);
  border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
  background: black;
}

.pikachu-container .eye-left, .pikachu-container .eye-right {
  position: absolute;
  background: #ffc720;
  width: 20%;
  height: 23%;
  top: 35%;
  background: black;
  border-radius: 50%;
  z-index: 3;
}

.pikachu-container .eye-left {
  left: 15%;
}

.pikachu-container .eye-right {
  right: 15%;
}

.pikachu-container .pupil {
  position: absolute;
  background: #ffc720;
  width: 38%;
  height: 38%;
  top: 15%;
  left: 46%;
  border-radius: 50%;
  background: white;
}

.pikachu-container .nose {
  position: absolute;
  background: #ffc720;
  width: 5%;
  height: 5%;
  top: 60%;
  left: 47%;
  background: black;
  border-radius: 30% 30% 50% 50%;
  z-index: 4;
}

.pikachu-container .cheek-left {
  position: absolute;
  background: #ffc720;
  width: 15%;
  height: 40%;
  top: 30%;
  -webkit-clip-path: ellipse(100% 50% at left);
  clip-path: ellipse(100% 50% at left);
  border-radius: 48%;
  background: red;
  z-index: 5;
}

.pikachu-container .cheek-right {
  position: absolute;
  background: #ffc720;
  width: 15%;
  height: 40%;
  top: 30%;
  right: 0%;
  -webkit-clip-path: ellipse(100% 50% at right);
  clip-path: ellipse(100% 50% at right);
  border-radius: 48%;
  background: red;
  z-index: 5;
}

.pikachu-container .mouth {
  position: absolute;
  background: #ffc720;
  width: 30%;
  height: 40%;
  top: 45%;
  left: 34%;
  background: #a6150c;
  border-radius: 50% 50% 51% 49% / 25% 24% 76% 75%;
}

.pikachu-container .tongue {
  position: absolute;
  background: #ffc720;
  width: 87%;
  height: 60%;
  left: 6%;
  background: #eb9099;
  bottom: 0%;
  border-radius: 50% 50% 51% 49% / 25% 24% 76% 75%;
}

.pikachu-container #left, .pikachu-container #right {
  position: absolute;
  background: #ffc720;
  width: 60%;
  height: 30%;
  top: -10%;
  background: #ffc720;
  border-radius: 0% 30% 50% 30%;
}

.pikachu-container #right {
  right: 0%;
}

.pikachu-container .pikachu-body {
  position: absolute;
  background: #ffc720;
  width: 60%;
  height: 35%;
  left: 25%;
  bottom: -10%;
  border-radius: 30% 30% 0% 0% / 70% 70% 0 0;
}

.pikachu-container .rings {
  width: 450px;
  height: 450px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background: white;
  border-radius: 50%;
  z-index: -1;
  border: 1em solid white;
  overflow: hidden;
}

.pikachu-container .tail-bottom {
  position: absolute;
  background: #ffc720;
  width: 10%;
  height: 50%;
  top: 63%;
  right: 9.5%;
  clip-path: polygon(62% 54%, 10% 22%, 86% 11%, 100% 43%);
  -webkit-clip-path: polygon(62% 54%, 10% 22%, 86% 11%, 100% 43%);
}

.pikachu-container ul {
  list-style: none;
}

.pikachu-container .tail {
  position: absolute;
  background: #ffc720;
  width: 40%;
  height: 35%;
  top: 45%;
  right: -20%;
  clip-path: polygon(30% 64%, 0 37%, 100% 0, 100% 58%);
  -webkit-clip-path: polygon(30% 64%, 0 37%, 100% 0, 100% 58%);
}

.pikachu-container li:nth-child(1) {
  position: absolute;
  background: #ffc720;
  width: 30%;
  height: 35%;
  top: 44%;
  right: -9%;
  clip-path: polygon(35% 100%, 0 39%, 30% 33%, 60% 100%);
  -webkit-clip-path: polygon(35% 100%, 0 39%, 30% 33%, 60% 100%);
}

.pikachu-container li:nth-child(2) {
  position: absolute;
  background: #ffc720;
  width: 25%;
  height: 20%;
  top: 69%;
  right: 3%;
  clip-path: polygon(30% 64%, 20% 20%, 80% 10%, 100% 50%);
  -webkit-clip-path: polygon(30% 64%, 20% 20%, 80% 10%, 100% 50%);
}

.pikachu-container li:nth-child(3) {
  position: absolute;
  background: #ffc720;
  width: 10%;
  height: 50%;
  top: 69%;
  right: 12%;
  clip-path: polygon(62% 54%, 10% 22%, 86% 11%, 100% 43%);
  -webkit-clip-path: polygon(62% 54%, 10% 22%, 86% 11%, 100% 43%);
}

.pikachu-container .mouth-cover {
  visibility: hidden;
  position: absolute;
  background: #ffc720;
  width: 50%;
  height: 50%;
  top: 65%;
  right: 16%;
  z-index: 10;
}

.pikachu-container .mouth-cover span {
  position: absolute;
  background: #ffc720;
  width: 20%;
  height: 20%;
  top: 30%;
  right: 56%;
  z-index: 12;
  background: black;
  border-radius: 50%;
}

.pikachu-container .mouth-cover #top-z {
  position: absolute;
  background: #ffc720;
  width: 50%;
  height: 50%;
  top: -60%;
  left: -150%;
  background: transparent;
  -webkit-animation: zzz 4s infinite;
          animation: zzz 4s infinite;
}

.pikachu-container .mouth-cover #middle-z {
  position: absolute;
  background: #ffc720;
  width: 50%;
  height: 50%;
  top: 0%;
  left: -100%;
  background: transparent;
  -webkit-animation: zzz 3s infinite;
          animation: zzz 3s infinite;
}

.pikachu-container .mouth-cover #bottom-z {
  position: absolute;
  background: #ffc720;
  width: 50%;
  height: 50%;
  top: 15%;
  background: transparent;
  -webkit-animation: zzz 2s infinite;
          animation: zzz 2s infinite;
}

@-webkit-keyframes zzz {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.5) translate(-200%, -3em);
            transform: scale(0.5) translate(-200%, -3em);
  }
}

@keyframes zzz {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.5) translate(-200%, -3em);
            transform: scale(0.5) translate(-200%, -3em);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Raleway", sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65vw;
}

@media only screen and (max-width: 600px) {
  nav {
    margin-top: 20px;
  }
  nav #navList {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav #navList #left, nav #navList .pikachu-container #right, .pikachu-container nav #navList #right {
    display: none;
  }
  .container {
    width: 90vw;
  }
}

@media only screen and (min-width: 601px) {
  nav #navList {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav #navList #left, nav #navList .pikachu-container #right, .pikachu-container nav #navList #right {
    display: block;
  }
  .container {
    width: 75vw;
  }
}

@media only screen and (min-width: 1201px) {
  nav #navList {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav #navList #left, nav #navList .pikachu-container #right, .pikachu-container nav #navList #right {
    display: block;
  }
  .container {
    width: 65vw;
  }
}

header, footer {
  font-family: "Roboto Mono", monospace;
  width: 80vw;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

header nav, footer nav {
  width: 100%;
}

header nav #left, footer nav #left, header nav .pikachu-container #right, .pikachu-container header nav #right, footer nav .pikachu-container #right, .pikachu-container footer nav #right {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

header nav ul, footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

header nav ul li, footer nav ul li {
  list-style: none;
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  header nav ul li, footer nav ul li {
    margin: 5px;
  }
}

header nav ul a, footer nav ul a {
  text-decoration: none;
  color: black;
}

header nav ul a:hover, footer nav ul a:hover {
  background: #2fd6af;
}

footer {
  height: 200px;
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #footerList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 10em;
  font-weight: bolder;
  color: #2fd6af;
}

#project-title {
  font-size: 4em;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
  font-size: 2em;
  margin: 0.5rem 0;
}

#bio {
  margin: 0.5rem;
  font-size: 1.2em;
}

#bio a {
  color: black;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(35%, #2fd6af), color-stop(35%, transparent));
  background-image: linear-gradient(to top, #2fd6af 35%, transparent 35%);
}

#bio a:visited {
  text-decoration: none;
  color: black;
}

#bio a:hover {
  background: #2fd6af;
}

span {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(35%, #2fd6af), color-stop(35%, transparent));
  background-image: linear-gradient(to top, #2fd6af 35%, transparent 35%);
}

span:visited {
  text-decoration: none;
  color: black;
}

span:hover {
  background: #2fd6af;
}

.description {
  color: black;
  margin: 1em 0em;
  font-size: 1.2em;
}

.projects {
  color: white;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.projects .media-container {
  width: 100%;
  height: auto;
  background: transparent;
}

.projects .media-container img, .projects .media-container video {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.projects a {
  text-decoration: none;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25ch;
          flex: 1 1 25ch;
}

.projects div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20em;
  overflow: hidden;
  margin: 0.5rem;
  background: #ffce00;
}

.projects div .categories,
.projects div .resource {
  position: relative;
  left: 2rem;
  padding-top: 1rem;
}

.projects div .categories li,
.projects div .resource li {
  display: inline-block;
}

.projects div .categories li::after,
.projects div .resource li::after {
  content: " | ";
}

.projects div h3 {
  font-family: "Roboto Mono", monospace;
  font-size: 2em;
  padding-left: 2rem;
  padding-top: 1rem;
  margin-right: 3em;
}

.projects #pikachu {
  background: #2fd6af;
}

.projects #pikachu:hover {
  background-image: url(./img/pikachu.png);
  background-size: cover;
  color: transparent;
}

.projects #devduckswap {
  background: #ff3675;
}

.projects #devduckswap:hover {
  background-image: url(./img/dds1.png);
  background-size: cover;
  color: transparent;
}

.projects #linkart {
  background: #ffce00;
}

.projects #linkart:hover {
  background-image: url(./img/link.png);
  background-size: cover;
  color: transparent;
}

.projects #debugduck {
  background: #ff3675;
}

.projects #debugduck:hover {
  background-image: url(./img/debugduck.png);
  background-size: cover;
  color: transparent;
}

.projects #pixelarticle {
  background: #2fd6af;
}

.projects #pixelarticle:hover {
  background-image: url(./img/pixelart.jpeg);
  background-size: cover;
  color: transparent;
}

@media only screen and (max-width: 600px) {
  #project-title {
    font-size: 3em;
  }
}

@media only screen and (min-width: 600px) {
  .description {
    width: 60vw;
  }
}

@media only screen and (min-width: 1200px) {
  .projects .media-container {
    width: 60%;
    height: auto;
  }
  .description {
    width: 50vw;
  }
}

iframe {
  width: 100%;
  height: 40vh;
}

pre {
  color: #2fd6af;
  font-size: 1.6em;
}

.link {
  margin-top: 1.5rem;
}

.link a {
  color: #ff3675;
  text-decoration: none;
}

.link a:after, .link a:before {
  content: "  |  ";
}

.link a:visited {
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */