doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet', href='../styles.css')
        title random pokemon generator
    body
        header
            include ./nav.pug
        .container#container
            h1#project-title.title random pokemon generator
            h2 javascript scss pug
            .link: a(href="https://github.com/Lou-Flan/pokecard-generator", target="_blank", rel="noopener noreferrer") github & docs 
                a(href="https://lou-flan.github.io/pokecard-generator/", target="_blank", rel="noopener noreferrer") deployed site
            .projects
                p.description.
                    I wanted to practice using fetch and DOM manipulation and so the Pokemon Card Generator was born.#[br]
                .media-container
                    video(src="../img/pokemon.mp4", type="video/mp4", autoplay, loop, alt="novid news homepage", )
                p.description.
                    Each time the ball is clicked, data is fetched from the PokeAPI and I have written a script to display a styled pokemon card based on the pokemon type attribute. I was initially having trouble with the card displaying before the pokemon image had finished loading but got around this with a promise to display a spinning animation until the image is complete.
                p.description.
                    Next to do: Better responsiveness on the ball click, smoother spinning animation, take user input to generate a pokemon card based on user details.
        include ./footer.pug
    script(src='./script.js')